/*
    Last Updated August 11, 2019
    DISCLAIMER: This is a fan/parody website to go along with the OJ2 fanfic on CloudNovel.
    All characters are based on those found in 100% Orange Juice from Orange Juice
    and Fruitbat Factory. All rights belong to and are the property of their respective
    rights holders. To contact us with any questions or concerns,
    please email: kaitags.com@domainsbyproxy.com
    -MarshalBanana
*/

body{
    background-image: linear-gradient(#faa22f, #ffffff);
  	background-repeat: repeat-x;
    min-height: 1000px;
}

/* Nav bar info from W3 Schools: https://www.w3schools.com/howto/howto_js_topnav.asp */
.navbar {
  background-color: #333;
  overflow: hidden;
}

/* Styling the links */
.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hover link color */
.navbar a:hover {
  background-color: #faa22f;
  color: white;
}

/* Removing the bullets from ul */
.navbar_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Intro Div styling */
#intro{
    background-image: url('../IMG/attack.PNG');
    background-repeat: no-repeat;
    height: 200px;
    /*border-style: solid;*/
    text-align: center;
    font-family: Arial, sans-serif;
}

#intro > h1{
    color: #f2ebeb;

}

#intro > h3{
    color: #f2ebeb;
}

/* video preview div styling */
#video_preview{
    /* border-style: solid; */
    float: left;
    width: 560px;
    height: 315px;
}

/* comment stream styling */
#comment_stream{
    border-style: solid;
    background-image: url('../IMG/comment_stream_1.png');
    float: right;
    width: 600px;
    height: 315px;
}
